/node_modules
/public/hot
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.example
.env.example
public/backoffice/js/app.js
public/frontoffice/js/app.js
public/backoffice/js/app.js
public/frontoffice/js/app.js
public/backoffice/js/app.js
public/frontoffice/js/app.js
